{% extends '::login.html.twig' %}

{% block title %}Warriors Defender{% endblock title %}

{% block body %}


    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">WD</h1>

            </div>
            <h3 class="mih3">Warriors Defender</h3>

             {% for flashMessage in app.session.flashbag.get('mensaje') %}
                <span class="alert-success">
                 <h3 class="alert alert-info">{{ flashMessage }}</h3>
                </span>
              {% endfor %}
            <form class="m-t" role="form" action="{{path ('admin_index')}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-block btn-outline btn-danger"><h4>Login</h4></button>
            </form>
            <br />
            <h5 class="mih3"> <strong>Admin Warriors Defender &copy; 2015</strong> </h5>
        </div>
    </div>

{% endblock body %}

